{# templates/login/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inicio de Sesi贸n{% endblock %}

{% block body %}
    <h1>Inicio de Sesi贸n</h1>

    {# Renderizamos el formulario de inicio de sesi贸n #}
    <form method="post">
        {{ form_row(formulario.username) }}
        {{ form_row(formulario.password) }}

        <button type="submit">Iniciar Sesi贸n</button>
    </form>
{% endblock %}
