{% extends 'base.html.twig' %}
{% block body %}

<nav>
 <ul>
 <li><a href ="{{path('formulario')}}">Registro</a></li>
  <li><a href ="{{path('login')}}">Inicio de Sesion</a></li>
   <li><a href ="{{path('inicio')}}">Acerca de </a></li>
 </ul>
</nav>

{% endblock %}


