<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Email: info@plazafit.com</p>
      <p>Teléfono: +34 123 456 789</p>
    </div>
    <div class="footer-section">
      <h3>Redes Sociales</h3>
       <a href="#"><img src='images/github-logo.png' alt="Facebook"></img></a>
            <a href="#"><img src='images/instagram-logo (1).png' alt="Instagram"></img></a>
    </div>
    <div class="footer-section">
      <h3>Sobre Plazafit</h3>
      <p>Plazafit es la comunidad de jugadores y usuarios del deporte de moda en el mundo, ¡el PÁDEL!</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Plazafit. Todos los derechos reservados.</p>
  </div>
</footer>
