{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Productos</h1>

    {% if productos is not empty %}
        <ul>
            {% for producto in productos %}
                <li>
                    {{ producto.nombre }} - {{ producto.descripcion }} - {{ producto.precio }} USD 
                    <form action="/carrito" method="post">
                        <input type="hidden" name="id" value={{ producto.id }}>
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos disponibles.</p>
    {% endif %}
{% endblock %}
