body {
    margin: 0;
    background-color: #f8f8f8 !important;
}
body, html {
    overflow-x: hidden;
}


.imagenInicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenInicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/1;
}

.tituloInicio {
    position: absolute;
    top: 36%;
    left: 50%;
}

.tituloInicio h3 {
    color: darkblue;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    padding-right: 5%;
    padding-left: 10%;
    margin: 0;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.cajas {
    display: flex;
    flex-direction: row;
    margin-right: -18em;
    margin-left: -5em;
}

.cajas>div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.caja1 h3 {
    margin-top: -5%;
    font-size: 1.3em;
    font-weight: 600;
    color: #061459;
    font-family: 'Montserrat';
}

hr {
    width: 100%;
}

.caja1 p {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.4em;
    color: #989898;
    font-family: 'Montserrat';
}

.caja1 {
    border: 3px solid #DDE8F2;
    border-radius: 15px;
    margin-right: 3em;
    padding: 2em;
}

.caja2 h3 {
    margin-top: -5%;
    font-size: 1.3em;
    font-weight: 600;
    color: #061459;
    font-family: 'Montserrat';
}

.caja2 p {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.4em;
    color: #989898;
    font-family: 'Montserrat';
}
.caja2 {
    border: 3px solid #DDE8F2;
    border-radius: 15px;
    margin-right: 3em;
    padding: 2em;
}


.caja3 h3 {
    margin-top: -5%;
    font-size: 1.3em;
    font-weight: 600;
    color: #061459;
    font-family: 'Montserrat';
}


.caja3 p {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.4em;
    color: #989898;
    font-family: 'Montserrat';
}
.caja3 {
    border: 3px solid #DDE8F2;
    border-radius: 15px;
    margin-right: 3em;
    padding: 2em;
}

.imagenHome h2 {
    text-align: center;
    margin-left: 3em;
    margin-bottom: 1em;
    font-size: 3.3em;
    color: #061459;
    font-family: 'Montserrat';
}

.container2 {
    margin-left: 10em;
    margin-right: 12em;
    margin-bottom: 4em;
    margin-top: -15%;
}

.container2 h3 {
    font-size: 2.3em;
    font-weight: 600;
    color: #061459;
    font-family: 'Montserrat';
}

.container2 p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.4em;
    color: #989898;
    font-family: 'Montserrat';
}
.footer {
    background-color: #004080; 
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h3 {
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section a img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  .footer-bottom {
    border-top: 1px solid #ffffff;
    margin-top: 20px;
    padding-top: 10px;
  }
  

@media only screen and (min-width: 200px) and (max-width: 500px) {
    .navLink {
        gap: 3em;
    }

    .imagenInicio img {
        aspect-ratio: 2/1;
    }

    .tituloInicio {
        top: 14%;
    }

    .tituloInicio h3 {
        color: antiquewhite;
    }

    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .imagenHome h2 {
        text-align: center;
        margin: 0;
    }

    .cajas {
        display: flex;
        flex-direction: column;
        margin-right: 6em;
        margin-left: 5em;
        gap: 4em;
    }
}